.offSetDefault5Items {
    transform: translate3d(-120%, 0, 0);
  }
  
  .offSetDefault6Items {
    transform: translate3d(-117%, 0, 0);
  }
  
  .offSetBackwards6Items {
    transform: translate3d(-16.8%, 0, 0);
  }
  
  .offSetBackwards5Items {
    transform: translate3d(-20%, 0, 0);
  }
  
  .offSetForward6Items {
    transform: translate3d(-217.2%, 0, 0);
  }
  
  .offSetForward5Items {
    transform: translate3d(-220%, 0, 0);
  }

  .offSetDefaul4Items {
    transform: translate3d(-100%, 0, 0);
  }

  .carouselItem6 {
    width: 16.7%;
  }
  
  .carouselItem5 {
    width: 20%;
  }
  
  .carouselItem4 {
    width: 25%;
  }
  
  .carouselItem3 {
    width: 33.3%;
  }
  
  .carouselItem2 {
    width: 50%;
  }