.offSetDefault5Items {
    transform: translate3d(-120%, 0, 0);
  }
  
  .offSetDefault6Items {
    transform: translate3d(-117%, 0, 0);
  }
  
  .offSetBackwards6Items {
    transform: translate3d(-16.8%, 0, 0);
  }
  
  .offSetBackwards5Items {
    transform: translate3d(-20%, 0, 0);
  }
  
  .offSetForward6Items {
    transform: translate3d(-217.2%, 0, 0);
  }
  
  .offSetForward5Items {
    transform: translate3d(-220%, 0, 0);
  }

  .offSetDefaul4Items {
    transform: translate3d(-125%, 0, 0);
  }

  .offSetBackwards4Items {
    transform: translate3d(-25%, 0, 0);
  }

  .offSetForward4Items {
    transform: translate3d(-225%, 0, 0);
  }

  .offSetDefault3Items {
    transform: translate3d(-133.2%, 0, 0);
  }

  .offSetBackwards3Items {
    transform: translate3d(-33.3%, 0, 0);
  }

  .offSetForward3Items {
    transform: translate3d(-233.1%, 0, 0);
  }

  .offSetDefault2Items {
    transform: translate3d(-150%, 0, 0);
  }

  .offSetBackwards2Items {
    transform: translate3d(-50%, 0, 0);
  }

  .offSetForward2Items {
    transform: translate3d(-250%, 0, 0);
  }



  .carouselItem6 {
    width: 16.7%;
  }
  
  .carouselItem5 {
    width: 20%;
  }
  
  .carouselItem4 {
    width: 25%;
  }
  
  .carouselItem3 {
    width: 33.3%;
  }
  
  .carouselItem2 {
    width: 50%;
  }