.headWrap {
  white-space: nowrap;
  width: 90vw;
  margin: 0 5vw;
  border-width: 10px;
  border-style: solid;
  border-color: red;
  overflow: visible;
}

.carouselNonWithWidth {
  display: inline-block;
  height: 30vh;
  text-align: right;
  font-size: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.wrapperItem {
  width: 100%;
}

.animation {
  transition-property: transform;
  transition-duration: 0.75s;
  transition-delay: 0s;
}

.initialOverflowCover {
  position: absolute;
  width: 6vw;
  background-color: orange;
  margin-left: -6vw;
  height: 30vh;
  z-index: 2;
}

.initialOverflowCoverAnimation {
  transition-property: opacity;
  transition-duration: 0.75s;
}
